.timer:nth-child(1) {
  background-image: url('IMG_5.png');
  background-size: 300px 300px; /* 幅100px×高さ100pxに縮小 */
  background-repeat: no-repeat;  /* 画像を1回だけ表示 */
  background-position: center;   /* 枠の中央に配置 */
}

.timer:nth-child(2) {
  background-image: url('IMG_4.png');
  background-size: cover;
  background-position: center;
}

.timer:nth-child(3) {
  background-image: url('IMG_1.png');
  background-size: cover;
  background-position: center;
}

.empty {
  background-image: url('IMG_3.png');
  background-size: cover;
  background-position: center;
  opacity: 0.7; 
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}